<html>
    <head>
        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <style>
            {#asset reports-style.css @encoding=utf8}
        </style>
    </head>
    <body>
        <div class="report-box">
            <table>
                <tr class="top">
                    <td colspan="5">
                        <table>
                            <tr>
                                <td >
                                    <img src="{#asset mirno-logo.png @encoding=dataURI}" style="width:100%; max-width:100px;" />
                                </td>
                                <td class="title">
                                    Reporte de Produccion de {{WorkArea}}
                                    <br><div class="subtitle">Del {{FromDate}} al {{ToDate}}</div>
                                </td>
                            </tr>
                        </table>
                    </td>    
                </tr>

                <tr class="content">
                    <td colspan="5">
                        <table>
                            <tr class="heading">
                                <td>
                                    Cantidad
                                </td>
                                <td>
                                    Producto
                                </td>
                                <td>
                                    Material
                                </td>
                                <td>
                                    Color/Lustre
                                </td>
                                <td>
                                    Total
                                </td>
                            </tr>

                            {{#each WorkUnits}}
                            <tr class="item">
                                <td class="detail">
                                    {{Quantity}}
                                </td>
                                <td>
                                    {{Product}}
                                </td>
                                <td class="detail">
                                    {{Material}}
                                </td>
                                <td class="detail">
                                    {{Color}}
                                </td>
                                <td class="detail">
                                    Gs. {{formatNumber Price}} 
                                </td>
                            </tr>
                            {{/each}}
                        </table>                    
                    </td>
                </tr>
                <tr class="footer">
                    <td colspan="5">
                        Total Produccion Gs. {{formatNumber Total}}
                    </td>
                </tr>
            </table>
            
        </div>
        
    </body>
</html>